In [12]:
import requests
import json

# 지도 시각화 참고 링크
# https://teddylee777.github.io/visualization/folium
#https://d-hyeon.tistory.com/2

# 서울 행정동 json raw파일(githubcontent) 불러오기
# >>>>> 아래의 json 파일은 전국의 행정동인 관계로 서울 행정동만 추출 필요 <<<<<<<<
r = requests.get('https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2013/json/skorea_submunicipalities_geo_simple.json')
c = r.content
seoul_geo = json.loads(c)

In [ ]:
#서울 행정동별 boundary 시각화
import folium
m = folium.Map(location=[37.559819, 126.963895], zoom_start=11)
folium.GeoJson(seoul_geo, name='행정동').add_to(m)
m

In [2]:
import pandas as pd
biz_area_chg = pd.read_csv('/content/drive/My Drive/서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv'
                     , nrows=4664, encoding='cp949', dtype='object')
biz_area_chg.tail()

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
4659,2019,3,11110560,평창동,HH,정체,113,59,109,53
4660,2019,3,11110550,부암동,LH,상권확장,100,58,109,53
4661,2019,3,11110540,삼청동,LH,상권확장,92,55,109,53
4662,2019,3,11110530,사직동,HH,정체,122,59,109,53
4663,2019,3,11110515,청운효자동,LH,상권확장,100,59,109,53

In [3]:
#<자치구별 상권변화지표> 중복 데이터 확인 전 데이터 보호를 위한 복사
biz_copy = biz_area_chg.copy()
biz_copy.tail()

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
4659,2019,3,11110560,평창동,HH,정체,113,59,109,53
4660,2019,3,11110550,부암동,LH,상권확장,100,58,109,53
4661,2019,3,11110540,삼청동,LH,상권확장,92,55,109,53
4662,2019,3,11110530,사직동,HH,정체,122,59,109,53
4663,2019,3,11110515,청운효자동,LH,상권확장,100,59,109,53

In [4]:
#<자치구별 상권변화지표> 중복 데이터 확인
gu_count = biz_copy.groupby('행정동_코드_명').count()
gu_count.sort_values(by='기준_년_코드', ascending=False)

,기준_년_코드,기준_분기_코드,행정동_코드,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
행정동_코드_명,,,,,,,,,
신사동,22,22,22,22,22,22,22,22,22
가락1동,11,11,11,11,11,11,11,11,11
옥수동,11,11,11,11,11,11,11,11,11
오류2동,11,11,11,11,11,11,11,11,11
오류1동,11,11,11,11,11,11,11,11,11
...,...,...,...,...,...,...,...,...,...
방학2동,11,11,11,11,11,11,11,11,11
방학1동,11,11,11,11,11,11,11,11,11
방이2동,11,11,11,11,11,11,11,11,11
방이1동,11,11,11,11,11,11,11,11,11
흑석동,11,11,11,11,11,11,11,11,11

In [5]:
#중복데이터가 존재하는 신사동 전체 row 확인
biz_copy[(biz_copy['행정동_코드_명'] == '신사동')]

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
66,2022,1,11680510,신사동,LL,다이나믹,108,51,119,55
92,2022,1,11620685,신사동,LL,다이나믹,112,51,119,55
490,2021,4,11680510,신사동,LL,다이나믹,107,51,118,55
516,2021,4,11620685,신사동,LL,다이나믹,112,51,118,55
914,2021,3,11680510,신사동,LL,다이나믹,106,51,117,55
940,2021,3,11620685,신사동,LL,다이나믹,111,51,117,55
1338,2021,2,11680510,신사동,LL,다이나믹,105,51,116,55
1364,2021,2,11620685,신사동,LL,다이나믹,110,51,116,55
1762,2021,1,11680510,신사동,LL,다이나믹,104,50,115,54
1788,2021,1,11620685,신사동,LL,다이나믹,110,50,115,54
2186,2020,4,11680510,신사동,LL,다이나믹,103,50,114,54
2212,2020,4,11620685,신사동,LL,다이나믹,109,50,114,54
2610,2020,3,11680510,신사동,LL,다이나믹,101,50,113,54
2636,2020,3,11620685,신사동,LL,다이나믹,108,50,113,54
3034,2020,2,11680510,신사동,LL,다이나믹,99,50,111,54
3060,2020,2,11620685,신사동,LL,다이나믹,108,50,111,54
3458,2020,1,11680510,신사동,LL,다이나믹,98,50,110,54
3484,2020,1,11620685,신사동,LL,다이나믹,108,50,110,54
3882,2019,4,11680510,신사동,LL,다이나믹,98,50,110,54
3908,2019,4,11620685,신사동,LL,다이나믹,107,50,110,54
4306,2019,3,11680510,신사동,LL,다이나믹,97,50,109,53
4332,2019,3,11620685,신사동,LL,다이나믹,105,50,109,53

- 신사동은 전 기간 중복이지만 실질적으로 필요한 데이터인 "상권_변화_지표_명"은 전 기간 변동이 없음.
- 상위 데이터 유지, 하위데이터 삭제함.

In [7]:
#신사동의 중복 행 중 하위 행 삭제
biz_area_chg = biz_area_chg.drop(index=[92, 516, 940, 1364, 1788, 2212, 2636, 3060, 3484, 3908, 4332])
print(biz_area_chg[(biz_area_chg['행정동_코드_명'] == '신사동')])
print(len(biz_area_chg[(biz_area_chg['행정동_코드_명'] == '신사동')]))

     기준_년_코드 기준_분기_코드    행정동_코드 행정동_코드_명 상권_변화_지표 상권_변화_지표_명 운영_영업_개월_평균  \
66      2022        1  11680510      신사동       LL       다이나믹         108
490     2021        4  11680510      신사동       LL       다이나믹         107
914     2021        3  11680510      신사동       LL       다이나믹         106
1338    2021        2  11680510      신사동       LL       다이나믹         105
1762    2021        1  11680510      신사동       LL       다이나믹         104
2186    2020        4  11680510      신사동       LL       다이나믹         103
2610    2020        3  11680510      신사동       LL       다이나믹         101
3034    2020        2  11680510      신사동       LL       다이나믹          99
3458    2020        1  11680510      신사동       LL       다이나믹          98
3882    2019        4  11680510      신사동       LL       다이나믹          98
4306    2019        3  11680510      신사동       LL       다이나믹          97

     폐업_영업_개월_평균 서울_운영_영업_개월_평균 서울_폐업_영업_개월_평균
66            51            119             55
490           51            118             55
914           51            117             55
1338          51            116             55
1762          50            115             54
2186          50            114             54
2610          50            113             54
3034          50            111             54
3458          50            110             54
3882          50            110             54
4306          50            109             53
11

In [8]:
#필요한 컬럼만 추출
biz_area_chg = biz_area_chg[['기준_년_코드', '기준_분기_코드', '행정동_코드_명','상권_변화_지표_명']]
biz_area_chg.tail()

     기준_년_코드 기준_분기_코드 행정동_코드_명 상권_변화_지표_명
4659    2019        3      평창동         정체
4660    2019        3      부암동       상권확장
4661    2019        3      삼청동       상권확장
4662    2019        3      사직동         정체
4663    2019        3    청운효자동       상권확장

In [10]:
#분기별 분류를 위해 '기준 년'과 '기분 분기' 합침
biz_area_chg['기준_코드'] = biz_area_chg[['기준_년_코드', '기준_분기_코드']].apply('/Q'.join, axis=1)
biz_area_chg.tail()

     기준_년_코드 기준_분기_코드 행정동_코드_명 상권_변화_지표_명    기준_코드
4659    2019        3      평창동         정체  2019/Q3
4660    2019        3      부암동       상권확장  2019/Q3
4661    2019        3      삼청동       상권확장  2019/Q3
4662    2019        3      사직동         정체  2019/Q3
4663    2019        3    청운효자동       상권확장  2019/Q3

In [11]:
#'기준 년'과 '기분 분기' 열 제거
biz_area_chg = biz_area_chg.drop(['기준_년_코드', '기준_분기_코드'], axis=1)
biz_area_chg.tail()

     행정동_코드_명 상권_변화_지표_명    기준_코드
4659      평창동         정체  2019/Q3
4660      부암동       상권확장  2019/Q3
4661      삼청동       상권확장  2019/Q3
4662      사직동         정체  2019/Q3
4663    청운효자동       상권확장  2019/Q3

In [13]:
#행정동별 위도와 경도를 추가하기 위해 파일 read
import pandas as pd
loc = pd.read_csv('/content/drive/My Drive/서울시 행정동별 상수도 사용량 2008년 위치정보 (좌표계_ WGS1984).csv'
                     , encoding='cp949')
loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   고유번호      438 non-null    int64
 1   기준연도      438 non-null    int64
 2   행정동코드     438 non-null    int64
 3   행정동명      438 non-null    object
 4   2007년사용량  438 non-null    float64
 5   2008년사용량  438 non-null    float64
 6   경도        438 non-null    float64
 7   위도        438 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 27.5+ KB

In [14]:
#필요한 column 추출
loc = loc[['행정동명', '경도', '위도']]
loc.head()

     행정동명          경도         위도
0     소공동  126.974680  37.564492
1    신당2동  127.008790  37.554878
2    숭인1동  127.016917  37.577577
3    구의3동  127.096142  37.535739
4  성수1가1동  127.040165  37.540179

In [16]:
#두 DataFrame 합침
biz_loc = pd.merge(biz_area_chg, loc, left_on='행정동_코드_명', right_on='행정동명')
biz_loc.tail()

     행정동_코드_명 상권_변화_지표_명    기준_코드   행정동명          경도         위도
4472    청운효자동       상권확장  2020/Q3  청운효자동  126.969047  37.584758
4473    청운효자동       상권확장  2020/Q2  청운효자동  126.969047  37.584758
4474    청운효자동       상권확장  2020/Q1  청운효자동  126.969047  37.584758
4475    청운효자동       상권확장  2019/Q4  청운효자동  126.969047  37.584758
4476    청운효자동       상권확장  2019/Q3  청운효자동  126.969047  37.584758

## 데이터는 이상이 없는 것 같은데.. 뭐가 문제일까요?

In [21]:
biz_pivot = biz_loc.pivot(index='행정동_코드_명', columns='기준_코드', values='상권_변화_지표_명')
biz_pivot

ValueError: ignored

In [20]:
biz_pivot = pd.pivot_table(biz_loc, index='행정동_코드_명', columns='기준_코드', values='상권_변화_지표_명')
biz_pivot

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

Empty DataFrame
Columns: []
Index: [가락1동, 가락2동, 가락본동, 가리봉동, 가산동, 가양1동, 가양2동, 가양3동, 가회동, 갈현1동, 갈현2동, 강일동, 개봉1동, 개봉2동, 개봉3동, 개포1동, 개포2동, 개포4동, 거여1동, 거여2동, 고덕1동, 고덕2동, 고척1동, 고척2동, 공덕동, 공릉2동, 공항동, 광장동, 광희동, 교남동, 구로1동, 구로2동, 구로3동, 구로4동, 구로5동, 구산동, 구의1동, 구의2동, 구의3동, 군자동, 금호1가동, 금호2.3가동, 금호4가동, 길동, 길음1동, 길음2동, 낙성대동, 난곡동, 난향동, 남가좌1동, 남가좌2동, 남영동, 남현동, 내곡동, 노량진1동, 노량진2동, 녹번동, 논현1동, 논현2동, 능동, 답십리1동, 답십리2동, 당산1동, 당산2동, 대림1동, 대림2동, 대림3동, 대방동, 대조동, 대치1동, 대치2동, 대치4동, 대학동, 대흥동, 도곡1동, 도곡2동, 도림동, 도봉1동, 도봉2동, 도화동, 독산1동, 독산2동, 독산3동, 독산4동, 돈암1동, 돈암2동, 동선동, 둔촌1동, 둔촌2동, 등촌1동, 등촌2동, 등촌3동, 마장동, 마천1동, 마천2동, 망우3동, 망우본동, 망원1동, 망원2동, 면목2동, ...]

[406 rows x 0 columns]